.window {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: PixelArial11, Arial, Helvetica, sans-serif;
  box-shadow:
    0 0 0 1px black,
    0 0 0 3px lightgray,
    0 0 0 4px black;

  & > .header {
    display: flex;
    height: 20px;
    justify-content: space-between;
    background-color: navy;
    border-bottom: 1px solid black;
    user-select: none;

    & > .header-left {
      display: flex;
    }
    & > .header-title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 10px;
    }
    & > .header-right {
      display: flex;
    }
  }

  & > .body {
    font-size: 10px;
    height: 100%;
  }
}